RUN mkdir -p {{ .AnsiblePath }}
WORKDIR {{ .AnsiblePath }}
{{if DirExists "templates" }}COPY templates templates{{ newLine }}{{end}}
{{if DirExists "files" }}COPY files files{{ newLine }}{{end}}
{{if DirExists "vars" }}COPY vars vars{{ newLine }}{{end}}
{{if DirExists "tasks" }}COPY tasks tasks{{ newLine }}{{end}}
ADD *.yaml ./
RUN ansible-playbook {{ .Playbook }}
RUN if [ -f {{ .Requirements }} ]; then ansible-galaxy install -r {{ .Requirements }}; fi{{ newLine }}
RUN ansible-playbook {{ .Playbook }}{{ newLine }}
